<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UpdateStatusCustomer</servlet-name>
        <servlet-class>controller.UpdateStatusCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountStaff</servlet-name>
        <servlet-class>controller.CreateAccountStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountStaff</servlet-name>
        <servlet-class>controller.SearchAccountStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSenderCustomer</servlet-name>
        <servlet-class>model.EmailSenderCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountStaff_ForAdmin</servlet-name>
        <servlet-class>controller.EditAccountStaff_ForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailForAdmin</servlet-name>
        <servlet-class>controller.orderDetailForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter_Order_For_Customer</servlet-name>
        <servlet-class>controller.Filter_Order_For_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_order</servlet-name>
        <servlet-class>controller.Cancel_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm_order</servlet-name>
        <servlet-class>controller.Confirm_order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStatusCustomer</servlet-name>
        <url-pattern>/UpdateStatusCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountStaff</servlet-name>
        <url-pattern>/CreateAccountStaff</url-pattern>
    </servlet-mapping>
    <!--    <servlet>
        <servlet-name>RevenueTotal</servlet-name>
        <servlet-class>controller.RevenueTotal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RevenueTotal</servlet-name>
        <url-pattern>/RevenueTotal</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>SearchAccountStaff</servlet-name>
        <url-pattern>/SearchAccountStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSenderCustomer</servlet-name>
        <url-pattern>/EmailSenderCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInventory</servlet-name>
        <url-pattern>/ListInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInventory</servlet-name>
        <url-pattern>/SearchInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountStaff_ForAdmin</servlet-name>
        <url-pattern>/EditAccountStaff_ForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailForAdmin</servlet-name>
        <url-pattern>/orderDetailForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter_Order_For_Customer</servlet-name>
        <url-pattern>/Filter_Order_For_Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_order</servlet-name>
        <url-pattern>/Cancel_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm_order</servlet-name>
        <url-pattern>/Confirm_order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
